<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mnubo.platform.android.demo">

    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <service android:name=".services.phone.PhoneRegistrationService"/>
        <service android:name=".services.phone.PhoneEventService"/>

        <activity
            android:name=".views.object.UserObjectsActivity"
            android:label="@string/title_activity_user_objects">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".views.user.UserChangePasswordActivity"
            android:label="@string/title_activity_user_change_password"/>
        <activity
            android:name=".views.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible"/>
        <activity
            android:name=".views.object.UserObjectActivity"
            android:label="@string/title_activity_user_object"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".views.object.sensor.SensorActivity"
            android:label="@string/title_activity_sensor"/>
        <activity
            android:name=".views.user.UserProfileActivity"
            android:label="@string/title_activity_user_profile"/>
        <activity
            android:name=".views.register.RegisterActivity"
            android:label="@string/title_activity_register"/>
        <activity
            android:name=".views.login.CompletePasswordResetActivity"
            android:label="@string/title_activity_complete_password_reset"/>
        <activity
            android:name=".views.register.CompleteRegistrationActivity"
            android:label="@string/title_activity_complete_registration"/>
    </application>

</manifest>
